/* base/body.css */

@layer base {
  body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0px auto;
    background-color: #1f2d3b;
  }
}

@layer base {
  header,
  main,
  footer {
    width: 100%;
    margin: 0px auto;
  }
}

@layer base {
  .bg-color-nav {
    background-color: rgba(32, 46, 60, 0.85);
    backdrop-filter: blur(2px);
    /* filter: brightness(100%); */
  }
}

/* Image style */

@layer base {
  .img-style {
    width: 174px;
    height: 124px;
    object-fit: cover;
    margin: 0px auto;
    padding: 4px;
  }
}

@layer base {
  #profileImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@layer base {
  #galleryImg {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

#hamburger-menu {
  display: none;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

#hamburger-menu:checked ~ nav {
  display: block;
  position: static;
  background: linear-gradient(#ffffff, #bebebe);
  padding: 10px;
  height: 149px;
  text-align: center;
  margin: 0px auto;
  border-radius: 10px;
}
