@import "tailwindcss/base";

@import "tailwindcss/components";
@import "/src/css/components.css";

@import "tailwindcss/utilities";



@layer components {
    body {
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;
        margin: 0px auto;
        background-color: #1F2D3B;
    }
  }

  @layer base {
    @font-face {
      font-family: Acme;
      font-weight: 500;
      src: url(/assets/fonts/Acme-Regular.ttf) format("ttf");
    }
    @font-face {
      font-family: Ubuntu;
      font-weight: 500;
      src: url(/assets/fonts/Ubuntu-Regular.ttf) format("ttf");
    }
    @font-face {
      font-family: Niramit;
      font-weight: 500;
      src: url(/assets/fonts/Niramit-Regular.ttf) format("ttf");
    }
  }

  @layer base {
    .zero-font-style-1 {
      font-family: Acme;
      text-transform: uppercase;
      font-size: 1.2rem;
    }
  }

  @layer base {
    .zero-font-style-2 {
      font-family: Ubuntu;
      text-transform: uppercase;
    }
  }

  @layer base {
    .zero-font-style-3 {
      font-family: Niramit;
      font-size: 0.9rem;
    }
  }

  @layer components {
    header, main, footer {
        width: 100%;
        margin: 0px auto;
    }
  }

  @layer components {
    .bg-color-nav {
        background-color: #1F2D3B;
        filter: brightness(100%);
    }
  }

  @layer components {
    .zero-text-color {
        color: #E6E6E6;
    }
  }

  @layer components {
    nav li {
        display: inline-block;
    }
  }

  @layer components {
    .header-img {
        background-image: url(/assets/img/head-img.jpg);
        /*filter: brightness(55%) saturate(140%);*/
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        background-position-y: top;
    }
  }